.App {
  text-align: center;
}

.centerItem{
    overflow: hidden;
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent {
    background: white;
    padding: 24;
    margin: 0;
    minHeight: 280;
}

.logo {
    color: white;
}

.scrollable{
    height: 88vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}
